@media screen and (min-width:767px) {

    .Header_container {
        height: 100px;
        padding:6vw
    }
   
     .icon{
        width: 50px;
        transition: .3s;
        cursor: pointer;
        
      }
      .icon:hover{
        transform: scale(1.1);
      }

    .wishlist_Container1 {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        backdrop-filter: blur(4px);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .logo {
        width: 100px;
    }
}
@media screen and (max-width:766px) {

    .Header_container {
        width: 100%;
        height: 50px;
        padding: 0 20px;
    }
.header_right_content{
    padding: 0 !important;
    gap: 20px !important;
}
.icon{
    width: 25px;
    transition: .3s;
    cursor: pointer;
    
  }
  .icon:hover{
    transform: scale(1.1);
  }
  .logo_cont{
    padding: 0px;
  }
    .wishlist_Container1 {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        backdrop-filter: blur(4px);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .logo {
        width: 50px;
    }
}