.categories_list{
    position: fixed;
    width: 20%;
    background-color:#212333;
    border-left: 5px solid #e0e0e0;
    border-top: 5px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    color:white;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    right: 0;
    text-align: start;
    box-sizing: content-box;
    transition: .3s;
    animation: animateslide .3s linear;
}
.category_text:hover{
    color: #303030;
}
@keyframes animateslide {
    0%{
        right: -100%;

    }
    100%{
        right: 0;
    }
    
}


.categories_list p{
border-bottom: 1px solid #e0e0e0;
padding:10px 20px;
margin: 0;

}
.categories_list p:hover{
    background-color: #e0e0e0;
}
@media screen and (max-width:767px) {
    .categories_list{
        position: fixed;
        width: 45%;
        background-color:#212333;
        height: 100vh;
        overflow-y: scroll;
        top: 0;
        right: 0;
        text-align: start;
        box-sizing: content-box;
        transition: .3s;
        animation: animateslide .3s linear;
    }
}